
    <div class="rghtarea">
      <div class="welTextArea">
        <h2> Welcome to VictoryNet Technologies</h2>
        <h3> Custom Website Design and Development</h3>
        <p> VictoryNet Technologies is a dynamic web team having passion for design geared with
          keen eye for details, using a mix of creative skills and aesthetic awareness in
          delivering visual solutions to the communications and marketing needs of clients.
          We aim at building a strong portfolio of satisfied clients because your business
          is crafted with love.</p>
        <p>&nbsp; </p>
        <p> VictoryNet Technologies is an Offshore web design and web development company India
          providing a full range of web services including web design, web development, software
          development, SharePoint Solutions, bespoke web application development, Portal Development,
          Yahoo Store Design and custom web programming from a simple web page to the complex
          solutions, e-commerce solutions, content management systems, Multimedia Development,
          Web animation, CD Presentation, Print Media Solution (including logo, graphics,
          business card etc.), Search Engine Optimization (SEO), PPC Management.</p>
      </div>
      <div class="showcaseArea">
        <div class="showcaseBoxArea"> <span class="lftSCpic">
          <!--<img alt="Quick Links to Showcase" src="images/showcase_box_lftpic.jpg">-->
          </span><span class="mdlSCbg">
          <ul>
            <li>
              <h2><a href="web-design">Website Design</a></h2>
            </li>
            <li>
              <h2><a href="web-development">Web Development</a></h2>
            </li>
            <li>
              <h2><a href="branding-identity">Logo Design</a></h2>
            </li>
            <li>
              <h2><a href="branding-identity">Banner Design</a></h2>
            </li>
          </ul>
          </span><span class="rgtSCpic"></span> </div>
      </div>
      <div class="serviceBoxList">
        <div class="srvAreabox">
          <h5> <a href="web-design">Web Design</a></h5>
          <p> We offer Web Designing services that are dedicated to consolidate your web presence.
            We are a unique design firm offering a variety of services from basic Website Design
            to complete e-commerce website development.</p>
        </div>
      </div>
      <div class="serviceBoxList">
        <div class="srvAreabox">
          <h5> <a href="web-development">Web Portal Development</a></h5>
          <p> we develop scalable portals with a greater experience in dedicated business portals.
            Internet portals range from business web portals to community portals and B2B or B2C portals. </p>
        </div>
      </div>
      <div class="serviceBoxList">
        <div class="srvAreabox">
          <h5> <a href="ecommerce-solution">E-commerce Solutions</a></h5>
          <p> we develop scalable portals with a greater experience in dedicated business portals.
            Internet portals range from business web portals to community portals and B2B or B2C portals. </p>
        </div>
      </div>
      <div class="serviceBoxList">
        <div class="srvAreabox">
          <h5> <a href="branding-identity">Branding &amp; Identity</a></h5>
          <p> Your identity becomes a reflection of more than just a product but a reflection of your company. 
            Our graphic design experience covers the entire gamut from corporate branding, to brochures, promotional kits, signs, billboards, catalogs and magazines.. </p>
        </div>
      </div>
      <div class="serviceBoxList">
        <div class="srvAreabox">
          <h5> <a href="open-source-customization">Open Source Customization </a></h5>
          <p> We are capable of doing any type of customization and modifications in these scripts. We can 
            customize and implement various open source tolls and having vast experience of 
            add/modify plugings/add-on contributed by the communities as well as create custom design for your project!.. </p>
        </div>
      </div>
      <div class="serviceBoxList">
        <div class="srvAreabox">
          <h5> <a href="yahoo-store-design">Yahoo Store Design </a></h5>
          <p> VictoryNet Technologies.com specializes in total e-commerce business solutions including Yahoo!
            store custom design, yahoo store development & store marketing with the custom graphics, banners and logos.t!.. </p>
        </div>
      </div>
    </div>
  </div>
