<div class="rghtarea">
      <div class="contentBoxArea">
        <h5> Partner with Us</h5>
        <div class="breadCrumbs"> <a href="/">Home</a> &gt; Partner with Us</div>
        <div class="normalContentArea">
          <p> We are seeking qualified partners to help influence the development of our software
            solutions. A development partner can be anyone &ndash; an organization, a content
            consultant, a technical writer &ndash; who manages content (or works with organizations
            that manage content) and is interesting in influencing the future direction of our
            software.<br/>
            <br/>
            As a development partner, we will take your input seriously. From day one, you will
            have a direct voice in our product release strategy to ensure that our solutions
            benefit your organization or the organizations you represent.<br/>
            <br/>
            If you'd like to partner with us, please send us an email entitled "Partnership"
            to</p>
        </div>
      </div>
    </div>