<div class="rghtarea">
      <div class="contentBoxArea">
        <h5> Sitemap</h5>
        <div class="breadCrumbs"> <a href="/">Home</a> &gt; Sitemap</div>
        <div class="normalContentArea">
          <p> </p>
          <ul class="bulletArea">
            <li><a href="default.asp">Home</a></li>
            <li><a href="the-company.asp">The Company</a></li>
            <li><a href="why-outsource-to-us.asp">Why Outsource to Us</a></li>
            <li><a href="our-services.asp">Our Services</a> </li>
            <li><a href="our-portfolio.asp">Our Portfolio</a></li>
            <li><a href="testimonial.asp">Testimonials</a></li>
            <li><a href="partner-with-us.asp">Partner with Us</a></li>
            <li><a href="offshore-development.asp">Outsource to India</a></li>
            <li><a href="offshore-development.asp">Offshore Development</a></li>
            <li><a href="solutions-technologies.asp">Solutions and Technologies</a></li>
            <li><a href="reach-us.asp">Reach Us</a></li>
          </ul>
        </div>
      </div>
    </div>