<div class="rghtarea">
      <div class="contentBoxArea">
        <h5> Solutions and Technologies</h5>
        <div class="breadCrumbs"> <a href="/">Home</a> &gt; Solutions and Technologies</div>
        <div class="normalContentArea">
          <p> Through the years of working with numerous clients in variety of industries, we
            have built expertise in deploying numerous platforms, tools, and programming languages.
            Today, we implement our solutions using the latest information technologies available
            on the market. As a team, we provide services ranging from designing simple interactive
            database solutions to complex network management systems based on most protocols,
            platforms, frameworks, and devices..</p>
          <br/>
          <br/>
          <span class="normalDarkText">The Key technologies we specialize in are:</span>
          <ul class="bulletArea">
            <li><strong>Languages</strong>
              <ul>
                <li>C# </li>
                <li>VB.NET </li>
                <li>Java</li>
                <li>J2EE</li>
                <li>Swing</li>
                <li>Applet</li>
              </ul>
            </li>
            <li><strong>Web </strong>
              <ul>
                <li>HTML </li>
                <li>XHTML </li>
                <li>XML, XSL, XPATH, XQUERY </li>
                <li>JavaScript, DOM </li>
                <li>ASP.NET </li>
                <li>ASP </li>
                <li>JSP </li>
                <li>PHP </li>
                <li>Ajax </li>
                <li>Servlet</li>
                <li>STRUTS</li>
                <li>EJB</li>
                <li>Swing</li>
              </ul>
            </li>
            <li><strong>Web Services</strong>
              <ul>
                <li>SOA development </li>
                <li>SOAP </li>
                <li>Security over SOA calls </li>
                <li>Search Engine Optimization (SEO)</li>
              </ul>
            </li>
            <li><strong>Desktop/Client Server </strong>
              <ul>
                <li>Windows Forms </li>
                <li>VB </li>
                <li>Remoting </li>
              </ul>
            </li>
            <li><strong>Databases</strong>
              <ul>
                <li>SQL Server (6.5 through 2005) </li>
                <li>Oracle </li>
                <li>MS Access </li>
                <li>mySQL </li>
              </ul>
            </li>
            <li><strong>Network</strong>
              <ul>
                <li>POP3 </li>
                <li>IMAP </li>
                <li>SMTP </li>
                <li>DNS </li>
                <li>Custom Requirements or Implementations of RFC </li>
              </ul>
            </li>
            <li><strong>Enterprise</strong>
              <ul>
                <li>BizTalk Server </li>
                <li>Commerce Server</li>
                <li>Exchange server</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>