<div class="rghtarea">
      <div class="contentBoxArea">
        <h5> Yahoo Store Design</h5>
        <div class="breadCrumbs"> <a href="/">Home</a> &gt; Yahoo Store Design</div>
        <div class="normalContentArea">
          <p> We have the experience and expertise to build whatever you need in the way of a
            store design. Whether you need a small store or a customized behemoth, we have the
            experience in design, RTML customization, the new Merchant Solutions platform with
            PHP programming and MySQL plus Internet marketing to build you a winning Store.</p>
          <p> Our Design Team works closely with you to make sure that your Store design or Re-Design
            is exactly what you've got in mind. You can give us as much creative direction as
            you'd like, or you can set our designers free with nothing more that a domain and
            an idea.</p>
          <p> Note that all stores developed and posted on Yahoo! and Amazon Stores are bound
            by their respective Store Guidelines and Terms of Service and that all hosting charges
            are set by and paid directly to respective stores. We, as Store Designers, are not
            in control of these terms and conditions. It is your responsibility to read and
            understand Service Charges as set forth in Merchant Service Agreement before opening
            your store.</p>
          <p> When it comes to Store designing, if it can be done, we can do that for you. It's
            really that simple.</p>
        </div>
      </div>
    </div>