<div id="content"> 
            <div id="leftBox"> 
                <div id="pageIntro"> 
                    <h2> 
                        Welcome to VictoryNet Technology CMS</h2> 
                    <p></p> 
                </div>                 
			    
			    <div class="contentBox"> 
			        <div class="contentBoxTop"> 
			            
			        </div> 
			        <div class="innerContent" style="height:150px;padding:50px;">            
			            <p>This is the CMS area for VictoryNet Technology to customize contents for the main site pages.
			    		</p>            
			        </div> 
			        <!--end of #box-3--> 
			    </div>                 
                <hr /> 
            </div> 
            <!-- end of #leftBox --> 
            
            <!-- end of #sidebar --> 
        </div>